table {
    border-collapse: collapse; /* 合并单元格边框 */
    border: 2px solid rgb(7, 28, 224); /* 表格边框样式 */
}

td {
    border: 1px solid rgb(15, 23, 128); /* 单元格边框样式 */
    padding: 5px; /* 单元格内边距 */

    width: 100px; /* 设置单元格宽度为100像素 */
    height: 15px; /* 设置单元格高度为50像素 */
    font-size: 10px; /* 设置字体大小为16像素 */
}


  